.name{
   text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    color: black;
    width: auto;
}



.text{
   
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: black;
    text-align: center;
    width: auto;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   align-content: stretch;
   justify-content: stretch;
   font-family:'Kanit', sans-serif; 
   gap: 7em;
   margin-left: 4em ;
   width: auto;
   margin-bottom: 5em;
}

.pic1{
    max-width: 80%;
    max-height: 80%;
}

.pic2{
    max-width:80%;
    max-height:80%;    
}
.pic3{
    max-width: 80%;
    max-height: 80%;
}

.container{
    display: flex;
    justify-content: center;
   margin-bottom: 3em;
   width: auto;
}

.button{
    color: white;
    background-color: #2f3030;
    border-radius: 50px;
    line-height: 50px;
    width: 240px;
    font-family:  'Kanit', sans-serif;
    font-size: 20px;
}