.lor{
    font-family: 'Kaushan Script', cursive;
    font-size: 150px;
    line-height: 15px;
    color: black;
    text-align: center;
}



.text{
    padding-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: black;
    text-align: center;
}
 
.dish{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 200px;
     width: 400px;
    height: 400px ;
    margin-left: 100px;
    
}
 


.info{
   display: flex;
   flex-direction: row;
   justify-content:center;
   margin-left: 40px ;
   font-family:'Kaushan Script', cursive ;
   font-size: large;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top:20px ;
}

.button{
    color: white;
    background-color: #2f3030;
    border-radius: 50px;
    line-height: 50px;
    width: 240px;
    font-family:  'Kanit', sans-serif;
    font-size: 20px;
}