.lor{
    font-family: 'Kaushan Script', cursive;
    font-size: 150px;
    line-height: 15px;
    color: black;
    text-align: center;
}



.text{
    padding-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: black;
    text-align: center;
}
 
.dish{
    display:inline-grid;
    grid-template-columns: 30% 30%  30%  ;
    column-gap: 70px ;
    justify-items: flex-start;
}
 
    .dsc{
        width: 400px;
        height: 400px;
        margin-left: 100px;
        margin-right: 200px;
    }
    
    .dsh{
        width:420px;
        height: 420px;
        margin-right: 200px;
    }
    
    .dss{
        width: 380px;
        height: 380px;
    }


.info{
   display: grid;
   display:inline-grid;
    grid-template-columns: 30% 30%  30%  ;
    column-gap: 40px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display:grid;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button{
    color: white;
    background-color: #2f3030;
    border-radius: 50px;
    line-height: 50px;
    width: 240px;
    font-family:  'Kanit', sans-serif;
    font-size: 20px;
}